body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:726px;
  height:515px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:720px;
  height:509px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_ann {
  border-width:0px;
  position:absolute;
  left:813px;
  top:96px;
  width:1px;
  height:1px;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:20px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:116px;
  width:71px;
  height:16px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:643px;
  height:196px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:174px;
  width:639px;
  height:192px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:231px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:252px;
  width:311px;
  height:231px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:105px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:504px;
  width:311px;
  height:105px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:16px;
  height:22px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:114px;
  width:12px;
  height:18px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:92px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:100px;
  width:91px;
  height:92px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:20px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:197px;
  width:57px;
  height:16px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
